SUPABASE_URL=https://isuzbfegnhdnweauqjno.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzdXpiZmVnbmhkbndlYXVxam5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3ODI3NTYsImV4cCI6MjA5OTM1ODc1Nn0.oxb9xJnf4qfFMtF3SeMtt9II6obVpCwt1qeY6r8d2S
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
PORT=3001
CLIENT_ORIGIN=http://localhost:3000
